<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">Dashboard</h3> </div>
		<div> <span class="m-subheader__daterange" id="m_dashboard_daterangepicker"> 					<span class="m-subheader__daterange-label"> 						<span class="m-subheader__daterange-title"></span> <span class="m-subheader__daterange-date m--font-brand"></span> </span>
			<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
				<i class="la la-angle-down"></i>
			</a>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Section-->
	<div class="row">
		<div class="col-xl-6">
			<!--begin:: Widgets/Top Products-->
			<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
								<img src="./assets/app/media/img//logos/logo_fftb.png"><h3 class="m-portlet__head-text">
											 Mile End Brewery
											</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
								<h5 class="m-portlet__head-text">
										#123456 | 24/05/2018
									   </h5>
							
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Product List-->
					<div class="row">
						<div class="col-md-4 font-weight-bold text-capitalize text-faint">Product</div>
						<div class="col-md-3 font-weight-bold text-capitalize text-faint">Price</div>
						<div class="col-md-2 font-weight-bold text-capitalize text-faint">Quantity</div>
						<div class="col-md-3 font-weight-bold text-capitalize text-faint">Total</div>
					</div>
					<br>
					<div class="row">
							<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Green King IPA</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5</div>
							<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10</div>
						</div>
						<br>
						<div class="row">
								<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Blue Moon</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
								<div class="col-md-2 font-weight-bold text-capitalize text-secandory">1</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
							</div>
							<br>
							<div class="row">
									<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Fatisma</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5.80</div>
									<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10.80</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-2 btn btn-light border border-dark">
									  <small>View</small> 
									</div>
									<div class="col-md-6">
										<h3 class="text-success pt-2 font-weight-bold in_prog">. Order In Progress</h3>
									</div>
									<div class="col-md-4">
										<h6 class="float-rightfont-weight-bold text-capitalize text-faint pt-2">Total <span class="grnd_total">£5.80</span></h6>


									</div>
								</div>
					<!--end::End of Product List-->
				</div>
				

			</div>
			<!--end:: Widgets/Top Products-->
		</div>
		<div class="col-xl-6">
			<!--begin:: Widgets/Top Products-->
			<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<img src="./assets/app/media/img//logos/logo_fftb.png"><h3 class="m-portlet__head-text">
												 Mile End Brewery
												</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
									<h5 class="m-portlet__head-text">
											#123456 | 24/05/2018
										   </h5>
								
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						<!--begin::Product List-->
						<div class="row">
							<div class="col-md-4 font-weight-bold text-capitalize text-faint">Product</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-faint">Price</div>
							<div class="col-md-2 font-weight-bold text-capitalize text-faint">Quantity</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-faint">Total</div>
						</div>
						<br>
						<div class="row">
								<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Green King IPA</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5</div>
								<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10</div>
							</div>
							<br>
							<div class="row">
									<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Blue Moon</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
									<div class="col-md-2 font-weight-bold text-capitalize text-secandory">1</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
								</div>
								<br>
								<div class="row">
										<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Fatisma</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5.80</div>
										<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10.80</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-2 btn btn-light border border-dark">
										  <small>View</small> 
										</div>
										 <div class="col-md-6">
											<!-- <h3 class="text-success pt-2 font-weight-bold">. Order In Progress</h3> -->
										</div> 
										<div class="col-md-4">
											<h6 class="float-right font-weight-bold text-capitalize text-faint pt-2">Total <span class="grnd_total">£5.80</span></h6>
	
	
										</div>
									</div>
						<!--end::End of Product List-->
					</div>
					
	
				</div>
			<!--begin:: Widgets/Activity-->
		
		</div>
	
	</div>
	<!--End::Section-->
	<div class="row">
			<div class="col-xl-6">
				<!--begin:: Widgets/Top Products-->
				<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
									<img src="./assets/app/media/img//logos/logo_fftb.png"><h3 class="m-portlet__head-text">
												 Mile End Brewery
												</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
									<h5 class="m-portlet__head-text">
											#123456 | 24/05/2018
										   </h5>
								
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						<!--begin::Product List-->
						<div class="row">
							<div class="col-md-4 font-weight-bold text-capitalize text-faint">Product</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-faint">Price</div>
							<div class="col-md-2 font-weight-bold text-capitalize text-faint">Quantity</div>
							<div class="col-md-3 font-weight-bold text-capitalize text-faint">Total</div>
						</div>
						<br>
						<div class="row">
								<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Green King IPA</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5</div>
								<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10</div>
							</div>
							<br>
							<div class="row">
									<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Blue Moon</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
									<div class="col-md-2 font-weight-bold text-capitalize text-secandory">1</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
								</div>
								<br>
								<div class="row">
										<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Fatisma</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5.80</div>
										<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10.80</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-2 btn btn-light border border-dark">
										  <small>View</small> 
										</div>
										<div class="col-md-6">
											<h3 class="text-success pt-2 font-weight-bold in_prog">. Order In Progress</h3>
										</div>
										<div class="col-md-4">
											<h6 class="float-rightfont-weight-bold text-capitalize text-faint pt-2">Total <span class="grnd_total">£5.80</span></h6>
	
	
										</div>
									</div>
						<!--end::End of Product List-->
					</div>
					
	
				</div>
				<!--end:: Widgets/Top Products-->
			</div>
			<div class="col-xl-6">
				<!--begin:: Widgets/Top Products-->
				<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<img src="./assets/app/media/img//logos/logo_fftb.png"><h3 class="m-portlet__head-text">
													 Mile End Brewery
													</h3>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
										<h5 class="m-portlet__head-text">
												#123456 | 24/05/2018
											   </h5>
									
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<!--begin::Product List-->
							<div class="row">
								<div class="col-md-4 font-weight-bold text-capitalize text-faint">Product</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-faint">Price</div>
								<div class="col-md-2 font-weight-bold text-capitalize text-faint">Quantity</div>
								<div class="col-md-3 font-weight-bold text-capitalize text-faint">Total</div>
							</div>
							<br>
							<div class="row">
									<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Green King IPA</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5</div>
									<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
									<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10</div>
								</div>
								<br>
								<div class="row">
										<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Blue Moon</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
										<div class="col-md-2 font-weight-bold text-capitalize text-secandory">1</div>
										<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£3.80</div>
									</div>
									<br>
									<div class="row">
											<div class="col-md-4 font-weight-bold text-capitalize text-secandory">Fatisma</div>
											<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£5.80</div>
											<div class="col-md-2 font-weight-bold text-capitalize text-secandory">2</div>
											<div class="col-md-3 font-weight-bold text-capitalize text-secandory">£10.80</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-2 btn btn-light border border-dark">
											  <small>View</small> 
											</div>
											 <div class="col-md-6">
												<!-- <h3 class="text-success pt-2 font-weight-bold">. Order In Progress</h3> -->
											</div> 
											<div class="col-md-4">
												<h6 class="float-right font-weight-bold text-capitalize text-faint pt-2">Total <span class="grnd_total">£5.80</span></h6>
		
		
											</div>
										</div>
							<!--end::End of Product List-->
						</div>
						
		
					</div>
				<!--begin:: Widgets/Activity-->
			
			</div>
		
		</div>
	<!--Begin::Section-->
	
	<!--End::Section-->
</div>