/* You can add global styles to this file, and also import other style files */
 
.m-checkbox.m-checkbox--focus>input:checked~span {
    border: 1px solid #c2c2c2 !important; 
}
.m-checkbox.m-checkbox--focus>span:after {
    border: solid #ffb822;
}
::placeholder{
    color:#c2c2c2 !important;
}
.btn-outline-focus.focus, .btn-outline-focus:focus, .btn-outline-focus:hover {
    border-color: #ffb622;
    background: #ffb622;
    color: rgb(53, 52, 52);
}
.img_logo{
    position: absolute !important;
    margin-left: 7px !important;
    width: 169px !important;
}
.m-link {
    color: #ffb622 !important;
}
.text-faint{
    color:#aeb3c5 !important;
}
.font-weight-bold{
    font-weight: 600 !important;
    font-size:14px !important;
}
.grnd_total{
    color:#bbbbbb !important;
    font-size:14px !important;
    font-weight: bold !important;
    margin-left: 21px !important;
}

.pt-2.in_prog {
    padding-top: 14PX!important;
}